.product-list
  width: 100%
  padding: 0 10px !important

.ui.divided.list
  .item
    min-height: 100px
    &:hover
      cursor: pointer
      background: #F7F7F7
    &.active
      background: #F0F0F0

.selected-product
  ul
    padding-left: 0
    li
      display: inline-block