%h4.ui.black.block.header
  %i.icon.suitcase
  Produits
%div{ 'ng-controller' => 'ProductsCtrl' }
  .ui.grid.product-list
    .nine.column.wide
      %label Recherche :
      %input{ type: 'text', 'ng-model' => 'searchText.name' }
      %button.ui.button.mini{ 'ng-click' => 'allowedFilter()', 'ng-class' => "{ active: selectedFilter == 'none' }" }Tous
      %button.ui.button.mini{ 'ng-click' => 'allowedFilter(true)', 'ng-class' => "{ active: selectedFilter == true }" }Autorisés
      %button.ui.button.mini{ 'ng-click' => 'allowedFilter(null)', 'ng-class' => "{ active: selectedFilter == null }" }En attente
      %button.ui.button.mini{ 'ng-click' => 'allowedFilter(false)', 'ng-class' => "{ active: selectedFilter == false }" }Bloqués
      %span.right.product-count{ 'ng-hide' => 'loading' }
        {{ products.length }}
      %span.right.product-count{ 'ng-show' => 'loading' }
        Chargement...
      .ui.divided.list{ 'ng-hide' => 'loading' }
        .item{ 'ng-repeat' => 'product in products | filter:searchText', 'ng-click' => 'showProduct(product, $index)', 'ng-class' => "{ active: $index == selectedRow }" }
          .header
            {{ product.name }}
          .product-details
            %span Ajouté par {{ product.owner.username }}
            %span Dernière mise à jour {{ product.updated_at | date: 'dd-MM-yy' }}
    .seven.column.wide
      .selected-product{ 'ng-hide' => 'loading', 'ng-show' => 'selectedProduct' }
        %h2.ui.header
          {{ selectedProduct.name }}
        %div
          {{ selectedProduct.description }}
        %ul
          %li{ 'ng-repeat' => 'photo in selectedProduct.photos' }
            %img{ 'ng-src' => "{{ photo.file.url }}" }