.item
  = image_tag(photo.file.edit_thumb, alt: @product.description, title: @product.description)
  .remove.red.ui.right.corner.label.starpop{"data-content" => 'Supprimer', "data-variation" => "inverted"}
    = simple_form_for photo, url: photo_path(id: photo.id), method: :delete do |f|
      = button_tag(type: 'submit', class: 'transparent-button') do 
        %i.icon.link.remove
